
.background{
    margin:0px;
    padding:0px;
    font:100px;
    box-sizing:border-box;
}
.container{
    width: 100%;
    height:100vb;
    background:white;
    display:flex;
    align-items:center;
    justify-content:center;
}
.calculator
{
    background: #080000;
    padding: 20px;
    border-radius:10px;

}
.calculator form input{
    border:0;
    outline:0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(238, 227, 227, 0.1),5px 5px 15px rgba(57, 56, 56, 0.2);
    /* background: transparent; */
    font-size:20px;
    color:black;
    cursor:pointer;
    margin:10px;
}
.display{
    display: flex;
    justify-content: flex-end;
    margin: 0px ;
    box-shadow:none;
    
}
.display input{
    text-align: left;
    flex: 10;
    font-size: 45px;
    width: 100px;
    box-shadow: none;

}
.calculator form input.equal{
    background: rgb(164, 242, 86);
}
